/*SELECTOR UNIVERSAL*/
* {
    margin: 0;
    padding: 0;
}
  

/*FUENTES*/
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}


/*FLEX*/
.flex, #container-btn, .inicio-de-sesion-container, .contacto-container, .datos-titulo, .main-productos, .main-index, footer ul,  
.ver-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*HEADER*/
.logo {
    width: 12%;
    margin-top: 0px;
    margin-bottom: 0%;
    margin-left: 0px;
    margin-right: 0%;
} 
.opciones-navbar {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0%;
    margin-left: 20px;
    margin-right: 0%;
}
.navbar-buscar {
    margin-top: 10px;
}
.buscar {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-border-color: #000000;
}


/*FOOTER*/
footer {
    background-color: #000;
    padding: 30px 0px 20px 0px;
    margin-top: 50px;
}
footer ul {
    list-style-type: none;
}
footer ul li a {
    text-decoration: none;
    color: #fff;
}


/*CARRUSEL*/ 
.carrusel-container {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
  

/*INDEX*/
.texto-index {
    margin-top: 5%;
    text-align: center;
}
.ver-index {
    margin-top: 5%;
    margin-bottom: -3%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: -3%;
    margin-left: 0%;
    margin-right: 0%;
}
.ver {
    padding: 40px;
    margin: 5px;
    width: 65%;
}
 

/*GALERIA*/
.galeria{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
}
.img-galeria {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 4%;
    transition: all 0.5s ease-in-out;
}  
.img-galeria:hover {
    width: 100%;
}
.galeria-titulo {
    grid-column: 1/6;
    justify-self: center;
    margin-top: 10%;
    margin-bottom: 0%;
}
.btn-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #000;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #000;
    --bs-btn-active-border-color: #000;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #000;
    --bs-btn-disabled-border-color: #000;
}


/*PRODUCTOS*/ 
#cont-productos {
    display: grid;
    grid-template-rows: 50px repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: end;
    gap: 8%;
    margin-top: -2%;
    padding-bottom: 30%;
    margin-left: 4%;
    margin-right: 4%;
}
.titulo-productos {
    grid-column: 1/4;
    justify-self: center;
    margin-bottom: -6%;
}
.producto {
    border: 1px solid rgb(90, 86, 86);
    border-radius: 10px;
    width: 300px;
    padding: 10%;
}
.btn {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #000;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #000;
    --bs-btn-active-border-color: #000;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #000;
    --bs-btn-disabled-border-color: #000;
}


/*CARRITO VACIO*/
.carrito-container {
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}
.carrito-img {
    width: 50%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 20%;
    margin-right: 0;
}
.carrito-texto {
    text-align: center;
}


/*CARRITO LLENO*/
.carrito-container {
    display: grid;
    grid-template-rows: 50px repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: end;
    gap: 10%;
    margin-top: 0%;
    margin-bottom: 5%;
}
.titulo-carrito{
    grid-column: 1/4;
    justify-self: center;
    margin-bottom: -4%;
}
.btn-comprar {
    width: 20%;
    margin-bottom: 5%;
    margin-top: 13%;
}

/*INICIO DE SESIÓN*/
 .inicio-de-sesion {
    width: 50%;
    margin-top: 80px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.inicio-de-sesion-container {
    justify-content: center;
}


/*MENSAJES*/
.mensajes {
    position: fixed;
    bottom: 25%;
    width: 35%;
    padding: 10%;
    text-align: center;
    border: 2px solid #000;
    background-color: #fff;
    z-index: 5;
}


/*MEDIA QUERYS*/
@media only screen and (max-width: 420px) {
    .logo {
      width: 40%;
    }
    .carrusel-container {
      width: 100%;
    }
    .texto-index {
      margin: 10% 10% 5% 10%;
    }
    .ver-index {
      margin: 0%;
    }
    .ver {
      padding: 25px;
      margin: 25px;
      margin-left: 8%;
      margin-right: 8%;
      display: block;
    }
    .galeria {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      padding-top: 10%;
      margin-bottom: 8%;
    }
    .img-galeria {
      margin-top: 10px;
    }
    .galeria-titulo {
      margin-top: 0%;
      margin-bottom: 0%;
      grid-column: 1/3;
      justify-self: center;
    }
    .cont-productos {
        width: 100%;
        margin: 0%;
    }
    #cont-productos {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 30px;
        padding-top: 10%;
    }
    .titulo-productos {
        grid-column: 1/2;
        justify-self: center;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    .carrito-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 30px;
        padding-top: 10%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .titulo-carrito {
        grid-column: 1/2;
        justify-self: center;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    .btn-comprar {
        width: 40%;
        margin-bottom: 15%;
        margin-top: 10%;
    }    
    .inicio-de-sesion {
      width: 80%;
    }
    .mensajes {
        bottom: 40%;
        width: 80%;
        padding: 15%;
    }
  }
  